In [1]:
import pandas as pd
import ast

* this needs to be integrated into ml utils 2

In [2]:
# read in zone id with coordinates df
coords_df = pd.read_csv('../Resources/zone_coords_ids.csv')
coords_df['coords'] = coords_df['coords'].apply(ast.literal_eval)
coords_df[['latitude', 'longitude']] = pd.DataFrame(coords_df['coords'].tolist(), index=coords_df.index)
coords_df = coords_df[['LocationID', 'Zone', 'Borough', 'latitude', 'longitude']]
coords_df.head()

   LocationID                     Zone        Borough   latitude  longitude
0           1           Newark Airport            EWR  40.689064 -74.177255
1           2              Jamaica Bay         Queens  40.603994 -73.835412
2           3  Allerton/Pelham Gardens          Bronx  40.865430 -73.867365
3           4            Alphabet City      Manhattan  40.725102 -73.979583
4           5            Arden Heights  Staten Island  40.563700 -74.191603

In [3]:
# read in model_df with PU and DO Ids
results = pd.read_parquet('Resources/model_df_2.parquet')

results.columns = results.columns.str.replace('(', '').str.replace("'", "").str.replace(',', '').str.replace(')', '')

results.head()

,second_of_day,day_of_year,weekend,holiday,morning_rush,evening rush,PULocationID,DOLocationID,prcp,temp,distance,durationsec,fare,tolls,airport,congestion,total,class
0,5,1,False,1,0,0,132,41,0.0,42.8,18.85,1599.0,70.00,6.94,1.75,0.0,95.88,0
1,9,1,False,1,0,0,3,51,0.0,42.8,2.47,785.0,14.59,0.00,0.00,0.0,14.59,1
2,33,1,False,1,0,0,145,112,0.0,42.8,2.02,474.0,20.62,0.00,0.00,0.0,20.62,2
3,38,1,False,1,0,0,16,73,0.0,42.8,2.47,459.0,23.20,0.00,0.00,0.0,23.20,2
4,42,1,False,1,0,0,164,161,0.0,42.8,1.06,335.0,7.90,0.00,0.00,2.5,15.48,0

In [4]:
# define pickup and drop off coords and merge with results
pickup_coords = coords_df[['LocationID', 'latitude', 'longitude']].copy()
pickup_coords.rename(columns={'LocationID': 'PULocationID',
                                'latitude': 'PUy',  
                                'longitude': 'PUx'},  
                      inplace=True)

results_with_pu = pd.merge(results, pickup_coords, on='PULocationID', how='left')


dropoff_coords = coords_df[['LocationID', 'latitude', 'longitude']].copy()
dropoff_coords.rename(columns={'LocationID': 'DOLocationID',
                                'latitude': 'DOy',
                                'longitude': 'DOx'},
                       inplace=True)

results_with_coords = pd.merge(results_with_pu, dropoff_coords, on='DOLocationID', how='left')


results_with_coords.head()

,second_of_day,day_of_year,weekend,holiday,morning_rush,evening rush,PULocationID,DOLocationID,prcp,temp,...,fare,tolls,airport,congestion,total,class,PUy,PUx,DOy,DOx
0,5,1,False,1,0,0,132,41,0.0,42.8,...,70.00,6.94,1.75,0.0,95.88,0,40.642948,-73.779373,40.808900,-73.948200
1,9,1,False,1,0,0,3,51,0.0,42.8,...,14.59,0.00,0.00,0.0,14.59,1,40.865430,-73.867365,40.873889,-73.829444
2,33,1,False,1,0,0,145,112,0.0,42.8,...,20.62,0.00,0.00,0.0,20.62,2,40.741509,-73.956975,40.723713,-73.950971
3,38,1,False,1,0,0,16,73,0.0,42.8,...,23.20,0.00,0.00,0.0,23.20,2,40.763120,-73.770745,40.757537,-73.784305
4,42,1,False,1,0,0,164,161,0.0,42.8,...,7.90,0.00,0.00,2.5,15.48,0,40.749842,-73.984251,40.765064,-73.985319

In [5]:
results_with_coords.columns

Index(['second_of_day', 'day_of_year', 'weekend', 'holiday', 'morning_rush',
       'evening rush', 'PULocationID', 'DOLocationID', 'prcp', 'temp',
       'distance', 'durationsec', 'fare', 'tolls', 'airport', 'congestion',
       'total', 'class', 'PUy', 'PUx', 'DOy', 'DOx'],
      dtype='object')

In [6]:
# reorganize columns
results_with_coords = results_with_coords [['second_of_day', 'day_of_year', 'weekend', 'holiday', 'morning_rush',
       'evening rush', 'PULocationID', 'PUy', 'PUx', 'DOLocationID', 'DOy', 'DOx', 'prcp', 'temp',
       'distance', 'durationsec', 'fare', 'tolls', 'airport', 'congestion',
       'total', 'class']]

results_with_coords

,second_of_day,day_of_year,weekend,holiday,morning_rush,evening rush,PULocationID,PUy,PUx,DOLocationID,...,prcp,temp,distance,durationsec,fare,tolls,airport,congestion,total,class
0,5,1,False,1,0,0,132,40.642948,-73.779373,41,...,0.0,42.80,18.85,1599.0,70.00,6.94,1.75,0.0,95.88,0
1,9,1,False,1,0,0,3,40.865430,-73.867365,51,...,0.0,42.80,2.47,785.0,14.59,0.00,0.00,0.0,14.59,1
2,33,1,False,1,0,0,145,40.741509,-73.956975,112,...,0.0,42.80,2.02,474.0,20.62,0.00,0.00,0.0,20.62,2
3,38,1,False,1,0,0,16,40.763120,-73.770745,73,...,0.0,42.80,2.47,459.0,23.20,0.00,0.00,0.0,23.20,2
4,42,1,False,1,0,0,164,40.749842,-73.984251,161,...,0.0,42.80,1.06,335.0,7.90,0.00,0.00,2.5,15.48,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5971769,85846,366,False,0,0,0,58,40.839167,-73.819722,213,...,0.0,48.02,2.48,534.0,14.38,0.00,0.00,0.0,14.38,2
5971770,85864,366,False,0,0,0,189,40.677871,-73.968473,62,...,0.0,48.02,1.58,488.0,15.01,0.00,0.00,0.0,15.01,2
5971771,85870,366,False,0,0,0,79,40.729269,-73.987361,79,...,0.0,48.02,0.60,256.0,5.80,0.00,0.00,2.5,10.80,0
5971772,86042,366,False,0,0,0,180,40.676770,-73.843746,63,...,0.0,48.02,1.36,266.0,8.92,0.00,0.00,0.0,8.92,1
5971773,86273,366,False,0,0,0,211,40.722880,-73.998750,211,...,0.0,48.02,0.04,60.0,3.00,0.00,0.00,2.5,8.00,0

In [8]:
for column in results_with_coords:
    print(results_with_coords[column].value_counts())

second_of_day
27000    304
36000    299
28800    291
32400    285
30600    267
        ...
15399      6
16068      6
12903      5
15191      5
18417      5
Name: count, Length: 86400, dtype: int64
day_of_year
69     37833
62     36098
83     35069
61     32137
68     32072
       ...
126     4974
141     4970
146     4259
147     4045
148     3872
Name: count, Length: 366, dtype: int64
weekend
False    4161122
True     1810652
Name: count, dtype: int64
holiday
0    5833924
1     137850
Name: count, dtype: int64
morning_rush
0    5346033
1     625741
Name: count, dtype: int64
evening rush
0    5212234
1     759540
Name: count, dtype: int64
PULocationID
132    156307
138    141016
161    137764
237    126886
236    113690
        ...
99         73
2          12
110         8
199         2
105         1
Name: count, Length: 261, dtype: int64
PUy
40.768311    422362
40.642948    156307
40.775714    141016
40.765064    137764
40.766437    136014
              ...
40.577744        73
40.603994        12
40.543651         8
40.791932         2
40.691458         1
Name: count, Length: 243, dtype: int64
PUx
-73.964406    422362
-73.779373    156307
-73.873364    141016
-73.985319    137764
-73.959017    136014
               ...
-74.179962        73
-73.835412        12
-74.126147         8
-73.883494         2
-74.012417         1
Name: count, Length: 243, dtype: int64
DOLocationID
236    119011
161    117456
138    117229
237    116482
132    113038
        ...
111       179
99        119
2          23
110        17
105         5
Name: count, Length: 260, dtype: int64
DOy
40.768311    424053
40.766437    142802
40.772319    128715
40.765064    117456
40.775714    117229
              ...
40.652203       179
40.577744       119
40.603994        23
40.543651        17
40.691458         5
Name: count, Length: 242, dtype: int64
DOx
-73.964406    424053
-73.959017    142802
-73.984401    128715
-73.985319    117456
-73.873364    117229
               ...
-73.991077       179
-74.179962       119
-73.835412        23
-74.126147        17
-74.012417         5
Name: count, Length: 242, dtype: int64
prcp
0.0    5220447
0.2     117251
0.1      86382
0.3      77606
0.5      66939
        ...
4.6        304
4.0        281
6.0        275
7.4        206
5.5          7
Name: count, Length: 72, dtype: int64
temp
44.06    144630
41.00    141916
42.08    137248
48.02    131639
46.04    131035
          ...
60.62       125
64.76       108
56.48       104
47.48       102
62.78        83
Name: count, Length: 219, dtype: int64
distance
1.00     36985
1.10     36657
0.90     36332
1.20     36003
0.80     34861
         ...
37.08        1
38.64        1
51.17        1
35.39        1
37.84        1
Name: count, Length: 4092, dtype: int64
durationsec
508.0      5010
546.0      4985
552.0      4959
498.0      4958
534.0      4954
           ...
84119.0       1
85711.0       1
81294.0       1
84763.0       1
8033.0        1
Name: count, Length: 9438, dtype: int64
fare
8.60      90262
10.00     88694
9.30      88474
7.90      88206
10.70     87681
          ...
205.91        1
148.03        1
149.26        1
141.03        1
3.43          1
Name: count, Length: 16836, dtype: int64
tolls
0.00     5260858
6.94      301219
21.00       8528
3.18        6431
0.11        5712
          ...
27.29          1
59.23          1
19.49          1
15.29          1
19.23          1
Name: count, Length: 3760, dtype: int64
airport
0.00    5466749
2.50     340588
1.75     164437
Name: count, dtype: int64
congestion
0.00    2554027
2.50    1806098
2.75    1574243
0.75      35596
5.50       1810
Name: count, dtype: int64
total
16.80     29788
12.60     28031
21.00     25133
14.28     19159
8.95      18156
          ...
198.44        1
162.36        1
15.64         1
183.52        1
3.37          1
Name: count, Length: 29204, dtype: int64
class
2    2039781
1    1984027
0    1947966
Name: count, dtype: int64

In [9]:
# save results with pu and do coords
results_with_coords.to_parquet('../Resources/model_coords_df.parquet')